name: Docker Image CI

on:
  schedule:
    - cron: "0 1 * * 1"
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build-3_5:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push v3.5
        uses: docker/build-push-action@v6
        with:
          context: ./3.5
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/lat-lon/deegree3-containers:3.5.17,ghcr.io/lat-lon/deegree3-containers:3.5,ghcr.io/lat-lon/deegree3-containers:latest
          build-args: |
            BUILD_DATE=${{ github.event.head_commit.timestamp }}
            VCS_REF=${{ github.sha }}
            VCS_URL=${{ github.repositoryUrl }}
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.34.1
        with:
          image-ref: 'ghcr.io/lat-lon/deegree3-containers:3.5.17'
          format: 'sarif'
          severity: 'CRITICAL'
          output: 'trivy-results-3.5.sarif'
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: 'trivy-results-3.5.sarif'

  build-3_6:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push v3.6
        uses: docker/build-push-action@v6
        with:
          context: ./3.6
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/lat-lon/deegree3-containers:3.6.6,ghcr.io/lat-lon/deegree3-containers:3.6
          build-args: |
            BUILD_DATE=${{ github.event.head_commit.timestamp }}
            VCS_REF=${{ github.sha }}
            VCS_URL=${{ github.repositoryUrl }}
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.34.1
        with:
          image-ref: 'ghcr.io/lat-lon/deegree3-containers:3.6.6'
          format: 'sarif'
          severity: 'CRITICAL'
          output: 'trivy-results-3.6.sarif'
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: 'trivy-results-3.6.sarif'